<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30">
        <mat-toolbar color="primary"><span class="title-center">User Registration</span></mat-toolbar>
        <br>
        <form fxLayoutAlign="stretch" fxLayout="column" #loginform="ngForm" (ngSubmit)="registerUser()">
            <mat-form-field>
              <input matInput placeholder="Username" pattern="^[A-Za-z0-9]*$" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" required #username>
              <mat-error *ngIf="username.validity.valueMissing">This field is mandatory.</mat-error>
              <mat-error *ngIf="username.validity.patternMismatch">No special characters are allowed</mat-error>
              <!-- <button type="button" (click)="print()">print</button> -->
            </mat-form-field>
            <mat-form-field style="margin-top:5px;">
                <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required minlength="6" #password >
                <mat-error *ngIf="password.validity.valueMissing">This field is mandatory.</mat-error>
                <mat-error *ngIf="password.validity.tooShort">Password should cointain a minimum of 6 characters.</mat-error>
              </mat-form-field>
              <mat-form-field style="margin-top:5px;">
                <input matInput placeholder="Email" email  [(ngModel)]="user.userEmail" [ngModelOptions]="{standalone: true}" required #email>
                <mat-error *ngIf="email.validity.valueMissing">This field is mandatory.</mat-error>
                <mat-error *ngIf="email.validity.valid">Invalid email</mat-error>
              </mat-form-field>
               <br>
              <button mat-raised-button type="submit" color="warn">Register</button>
          </form>
          
           <small class="temp">{{message}}</small> 
    </mat-card>
</div>